{{> header}}
<body>
<div class="container">

    <div class="row" style="margin-top: 50px; margin-left: -20px">
    {{> logo_svg}}
    </div>

    <div class="row" style="margin-top: 10px; min-height: 125px;">
      <h3>Transaction Cancelled</h3>
      <p>Your transaction (t#{{transId}}) has been cancelled.</p>
      <p>Return to Fheight to initialize a new transaction or contact our support team for help.</p>
      <p><a href="https://support.fheight.com/">Fheight Support Page</a>.</p>
    </div>

</div>
</body>
</html> 