#app-codex {
	@include fillParent();

	.btn-cancel-primary {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		width: 9.0rem;
		height: 9.0rem;
		border-radius: 0;
		background-size: contain;
		background-position: top left;
		&, &:hover, &:focus, &:active, &:active:focus {
			@include backgroundImage("resources/ui/button_back_corner.png");
		}
		&:before {
			top: -50%;
			left: -50%;
		}
	}

	.lore, .chapters-region, .chapter-region {
		@include fillParent();
	}

	.show-world-map, .hide-world-map {
		position: absolute;
		top: 2.0rem;
		right: 3.0rem;
		margin: 0;
		font-size: 1.6rem;
		text-transform:uppercase;
		color:#dddddd;
		background: rgba(0, 0, 0, 0.4);
		border: solid 0.1rem #dddddd;
		border-radius: 2.0rem;
		padding: 0.5rem 1.0rem;
		margin-left: 1.0rem;
		min-width: 14.0rem;
		.fa {
			position: relative;
			margin-left: 0.5rem;
		}
		&:hover, &:active, &:active:focus {
			color:#ffffff;
			background: rgba(0, 0, 0, 0.5);
			border: solid 0.1rem #ffffff;
		}
	}

	.codex-chapter-select {
		@include fillParent();
	}

	.codex-chapter-preview {
		.sliding-panel-content {
			padding: 2.0rem 2.0rem 4.0rem 2.0rem;
			.name {
				height: 6.0rem;
			}
			.description {
				min-height: unset;
			}
		}

		.locked-label {
			bottom: -12%;
		}
	}

	.codex-chapter {
		@include fillParent();

		.chapter-content {
			@include scrollbars(rgba(0, 0, 0, 1));
			position: relative;
			width: 36.0rem;
			height: 50rem;
			margin-left: 10rem;
			margin-top: 12rem;
			padding: 1.0rem;
			background: #ffffff;
			display: flex;
			flex-flow: column nowrap;
			pointer-events: auto;
			clip-path: polygon(0 0, 90% 0%, 100% 8%, 100% 100%, 0% 100%);
		}
		.chapter-name {
			@include headerFont();
			max-width: 90%;
			font-weight: bold;
			font-size: 3.0rem;
			line-height: 3.4rem;
			text-align: left;
			text-transform: uppercase;
			color: #999999;
			padding-left: 1.0rem;
			margin-top: 3.5rem;
		}
		.chapter-description {
			@include headerFont();
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 2.2rem;
			text-align: left;
			text-transform: uppercase;
			color: #999999;
			padding-left: 1.0rem;
		}
		.chapter-text {
			@include bodyFont();
			font-size: 1.5rem;
			line-height: 2.2rem;
			text-align: left;
			color: #000000;
			overflow-wrap: break-word;
			flex: 1;
			padding-left: 1.0rem;
			margin-bottom: 2.0rem;
		}
		.shine {
			width: 100%;
			min-height: 0.1rem;
			background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.25) 50%, rgba(0, 0, 0, 0) 100%);
			margin: 1.0rem 0;
		}
		.audio-controls {
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			padding: 0.5rem;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 0.3rem;
			z-index: 10;
		}
		.audio-play, .audio-pause, .audio-stop {
			width: 2.4rem;
			height: 2.4rem;
			padding: 0;
			border: none;
			background: rgba(0, 0, 0, 0.2);
			color: #333;
			border-radius: 0.3rem;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: rgba(0, 0, 0, 0.3);
				color: #000;
			}
			i {
				font-size: 1.0rem;
			}
		}
		.audio-elapsed {
			font-size: 1.1rem;
			color: #333;
			min-width: 3.5rem;
			text-align: center;
		}
		.audio-seek-range {
			width: 6rem;
			height: 0.4rem;
			cursor: pointer;
		}
		.audio-volume-range {
			width: 4rem;
			height: 0.4rem;
			cursor: pointer;
		}
		.fa-volume-up {
			font-size: 1.2rem;
			color: #333;
		}
	}

	&.state-lore {
		.show-world-map {
			display: block;
		}
		.hide-world-map {
			display: none;
		}
	}

	&.state-world-map {
		.show-world-map {
			display: none;
		}
		.hide-world-map {
			display: block;
		}
	}
}
