<div class="dialog-background" {{#if background}}style="background: {{background}}"{{/if}}></div>

<div class="dialog-content">
    <div class="dialog-header">

    </div>

    <div class="dialog-body">
        <img class="fhe-wizard-loader" src="{{imageForResourceScale 'resources/ui/fhe_wizard_loading.gif'}}">
        <div class="game-tip">{{tip}}</div>
    </div>

		<div class="dialog-footer">
    </div>
</div>
